/* Estrutura geral */
*{
    margin: 0;
    PADDING: 0;
    box-sizing: border-box;
    font-family: 'popping', sans-serif;
}

body{
    background-color: rgb(0, 0, 0);
    background-image: url("images/black.gif");
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

img{
    width: 50px;
    height: 50px;
}

/* Estilo cabecalho*/
header{
    padding: 20px 2%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #ffffff56;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: #fff;
    transform: scale(1.10);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

header .btn-contato button{
    padding: 5px 40px;
    font-size: 18px;
    font-weight: 500;
    background-color: #fff;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
}

header .btn-contato button:hover{
    box-shadow: 0px 0px 8px #fff;
}

/* Estilo topo site*/
section.topo-site{
    padding: 120px 10%;
    display: flex;
    font-size: 50px;
}

section p{
    color: #fff;
    font-size: 40px;
    display: flex;
    justify-content: center;
}

section h1{
    color: #fff;
}

section .links-redes ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

section .links-redes ul a {
    display: block;
}

section .links-redes ul a img {
    width: 50px;
    height: auto;
    transition: transform 0.3s;
}

section .links-redes ul a img:hover {
    transform: scale(1.10);
}

/*Animação h1*/
.txt-topo-site h1{
    position: relative;
    animation: zoom 2s ease-in-out infinite alternate;
}
@keyframes zoom{
    0%{
        transform: scale(1.10);
    }
    100%{
        transform: scale(1.20);
    }
}

/*Section sobre mim*/

section.sobre{
    padding: 240px 10%;
}

section h2{
    color: #fff;
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 90px;

}

section h3{
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: left;
}

section p1{
    color: #fff;
    font-size: 15px;
    display: flex;
    justify-content: left;
}

.sobre .flex{
/* Define um tamanho máximo para o bloco de texto */
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.texto-sobre-mim{
    display: flex;
    flex-direction: column; /* Coloca o título e o texto em uma coluna */
    max-width: 50%;
}

.sobre img {
    width: 400px; /* Tamanho da imagem */
    height: auto;
    margin-left: 100px; /* Espaçamento entre o texto e a imagem */
}

